<h1>Your Tasks:</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        ☑
      <% else %>
       ☐
       <% end %>
      <%= link_to task.title, task_path(task)%>
      <%= link_to "❎", task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "⊕", new_task_path %>
